<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>Welcome to Taste!</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="title-container">
            <h1>Taste</h1>
        </div>
    </header>

    <nav>
        <div class="page-container">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Manage Flavors", "Index", "Flavors")</li>
                <li>@Html.ActionLink("Manage Treats", "Index", "Treats")</li>
                <li>@Html.ActionLink("Account", "Index", "Account")</li>
            </ul>
        </div>
    </nav>

    <div class="page-container">
        @RenderBody()
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2023 Taste</p>
        </div>
    </footer>
</body>
</html>